@model List<bagcash.Models.Transacao>
@{
    ViewData["Title"] = "Index";
}

<h4>Transações do mês</h4>
<div class="row bg-success p-2 mb-3">
    <div class="col-md-12">
        <a asp-action="Cadastrar" asp-route-tipoDeTransacao="@Tipo.Receita" class="btn btn-sm btn-light btn-sm mr-2">
            <i class="mr-1 fas fa-plus"></i> Cadastrar receita
        </a>
        <a asp-action="Cadastrar" asp-route-tipoDeTransacao="@Tipo.Despesa" class="btn btn-sm btn-light btn-sm mr-2">
            <i class="mr-1 fas fa-plus"></i> Cadastrar despesa
        </a>
    </div>
</div>

@if (Model.Any())
{
    var contadorDeReceitas = 1;
    var contadorDeDespesas = 1;

    <div class="row">
        <div id="container-view" class="col-12">
            <ul class="nav nav-tabs font-bold">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#receitas">Receitas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#despesas">Despesas</a>
                </li>
            </ul>

            <div class="tab-content mt-3">
                <div class="tab-pane fade in active show" id="receitas">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Descrição</th>
                                            <th scope="col">Valor (R$)</th>
                                            <th scope="col">Data de efetivação</th>
                                            <th scope="col">Categoria</th>
                                            <th>Recebida</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Where(x => x.Tipo == Tipo.Receita))
                                        {
                                            var parcela = item.Parcelas
                                             .FirstOrDefault(x => x.DataDeEfetivacao.Month == DateTime.Now.Month && x.DataDeEfetivacao.Year == DateTime.Now.Year);
    
                                            var parcelaNaoEstaEfetivada = (parcela.DataDeEfetivacao < DateTime.Now && @parcela.Efetivada == false);
    
                                            <tr>
                                                <td>
                                                    <a asp-action="Detalhes" asp-route-transacaoId="@item.Id">
                                                        @contadorDeReceitas
                                                    </a>
                                                </td>
                                                <td>@item.Descricao</td>
                                                <td>@item.Valor</td>
                                                <td>@parcela.DataDeEfetivacao.ToString("dd-MMM-yy")</td>
                                                <td>@item.Categoria.Nome</td>
                                                <td>
                                                    <div class="form-check">
                                                        <input type="checkbox" value="" class="form-check-input " @(parcela.Efetivada ? "checked" : "checked") onclick="efetivar(this, @parcela.Id)" />
                                                        <label class="control-label">@(parcela.Efetivada ? "Sim" : "Não")</label>
                                                    </div>
                                                </td>
                                            </tr>
    
                                            contadorDeReceitas++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="despesas">
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table table-hover table-click">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Descrição</th>
                                            <th scope="col">Valor (R$)</th>
                                            <th scope="col">Data de efetivação</th>
                                            <th scope="col">Categoria</th>
                                            <th>Paga</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model.Where(x => x.Tipo == Tipo.Despesa))
                                        {
                                            var parcela = item.Parcelas
                                                .FirstOrDefault(x => x.DataDeEfetivacao.Month == DateTime.Now.Month && x.DataDeEfetivacao.Year == DateTime.Now.Year);
    
                                            var parcelaNaoEstaEfetivada = (parcela.DataDeEfetivacao < DateTime.Now && @parcela.Efetivada == false);
    
                                            <tr @*class="@(parcelaNaoEstaEfetivada ? "bg bg-warning" : "")"*@>
                                                <td>
                                                    <a asp-action="Detalhes" asp-route-transacaoId="@item.Id">
                                                        @contadorDeDespesas
                                                    </a>
                                                </td>
                                                <td>@item.Descricao</td>
                                                <td>@item.Valor</td>
                                                <td>@parcela.DataDeEfetivacao.ToString("dd-MMM-yy")</td>
                                                <td>@item.Categoria.Nome</td>
                                                <td>@(parcela.Efetivada ? "SIM" : "NÃO")</td>
                                            </tr>
    
                                            contadorDeDespesas++;
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>Não há transações cadastradas!</p>
}

@section scripts {
    <script>
        function efetivar(el, parcelaId) {

            $.ajax({

            });

            if ($(el).prop("checked")) {
                alert(parcelaId);
            }
            else {

            }
        }
    </script>
}